<seModule id="{b682fe26-5977-4cf7-ba59-e3a46a63f9e3}"
          title="Contents Panel Container"
          category="System"
          description=""
          fileUrl="default.html"
          previewUrl=""
          iconUrl=""
          type="typical"
          placeholderId="contentsPanelContainer">
</seModule>