<seModule id="{7D4B4EC9-DA85-456F-8977-5C65CE6785D9}"
          title="Shetab eBook Creator Skin"
          category="Skin"
          description=""
          fileUrl="default.html"
          previewUrl=""
          iconUrl=""
          type="typical"
          visible="false"
          placeholderId="skin">
</seModule>