<seModule id="{7cdd00ea-23a2-45d6-a569-a893639b66d4}"
          title="Sidebar Panel Container"
          category="System"
          description=""
          fileUrl="default.html"
          previewUrl=""
          iconUrl=""
          type="typical"
          placeholderId="sidebarPanelContainer">
</seModule>