<seModule id="{50331985-d70e-4a49-a9bc-34f8fd1e033d}"
          title="Sidebar Panel"
          category="System"
          description=""
          fileUrl="default.html"
          previewUrl=""
          iconUrl=""
          type="typical"
          placeholderId="sidebarPanel">
</seModule>