<seModule id="{6714cfff-0e6e-4ad5-8c85-3b318aaa08a8}"
          title="Index Panel Container"
          category="System"
          description=""
          fileUrl="default.html"
          previewUrl=""
          iconUrl=""
          type="typical"
          placeholderId="indexPanelContainer">
</seModule>