<seModule id="{ba53475d-17f8-430d-a4f3-9c4ed0265dd2}"
          title="Navigation Panel"
          category="System"
          description=""
          fileUrl="default.html"
          previewUrl=""
          iconUrl=""
          type="typical"
          placeholderId="navigationPanel">
</seModule>