<seModule id="{e1d3c9a6-467b-4dab-9696-e434eab3b897}"
          title="NavigationPanelContainer"
          category="System"
          description=""
          fileUrl="default.html"
          previewUrl=""
          iconUrl=""
          type="typical"
          placeholderId="navigationPanelContainer">
</seModule>