<seModule id="{1bcdbd5f-637c-4f35-a949-10b0f2001fa2}"
          title="Favorites Panel Container"
          category="System"
          description=""
          fileUrl="default.html"
          previewUrl=""
          iconUrl=""
          type="typical"
          placeholderId="favoritesPanelContainer">
</seModule>