<seModule id="{e23b77cf-7ea2-43ff-9a2b-1fff168fca74}"
          title="Property Panel"
          category="System"
          description=""
          fileUrl="default.html"
          previewUrl=""
          resourcesUrl=""
          iconUrl=""
          type="typical"
          visible="false"
          placeholderId="propertyPanel">
</seModule>