<seModule id="{B28413CA-3B7F-4C6A-92DF-BA89BBD98051}"
          title="Module Controller"
          category="System"
          description=""
          fileUrl="default.html"
          previewUrl=""
          iconUrl=""
          type="typical"
          placeholderId="$moduleController">
</seModule>